@model GestionaleSpedizioni.Models.CercaSp

@{
    ViewBag.Title = "CercaSpedizione";
}

<h2 class="text-center my-2">Cerca Spedizione</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container w-75">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group my-3">
        @Html.LabelFor(model => model.CodiceFiscaleOPartitaIva, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.CodiceFiscaleOPartitaIva, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodiceFiscaleOPartitaIva, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdSpedizione, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.IdSpedizione, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IdSpedizione, "", new { @class = "text-danger" })

    </div>
    <div class="d-flex justify-content-center w-100">

    <button type="submit" class="btn btn-danger my-3">Cerca Spedizione</button>
    </div>
</div>
}